# Исключаем зависимости, которые будут установлены внутри контейнера
node_modules

# Исключаем файл базы данных, он будет подключен как volume
database.sqlite3

# Исключаем логи и временные файлы
npm-debug.log
.DS_Store
